<h1>Recipe Collection</h1>

<ul class="tabs">
  <li class="active"><a href="#main">Main dishes</a></li>
  <li><a href="#appetizer">Appetizers</a></li>
  <li><a href="#dessert">Desserts</a></li>
  <li><a href="#breakfast">Breakfast</a></li>
</ul>

<ul class="tab-content" id="main">
  <% if @recipes %>
    <% @recipes.where(category_id: 2).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
      <span class="forks"><%= recipe.avg_rating %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      <% if admin? %>
        <%= form_for :solddish, url: solddish_path(recipe), method: :patch do |f| %>
        <%= f.label :Price %> <%= f.text_field :Price %>
        <%= f.submit 'Submit price' %>
        <% end %>
        <%= form_for :sold do |f| %>
        <%= f.submit 'Sold!' %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="tab-content" id="breakfast">
  <% if @recipes %>
    <% @recipes.where(category_id: 1).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
      <span class="forks"><%= recipe.avg_rating  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      <% if admin? %>
        <%= form_for :solddish, url: solddish_path(recipe), method: :patch do |f| %>
        <%= f.label :Price %> <%= f.text_field :Price %>
        <%= f.submit 'Submit price' %>
        <% end %>
        <%= form_for :sold do |f| %>
        <%= f.submit 'Sold!' %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="tab-content" id="appetizer">
  <% if @recipes %>
    <% @recipes.where(category_id: 3).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
    <span class="forks"><%= recipe.avg_rating  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %><br>
      <% if admin? %>
        <%= form_for :solddish, url: solddish_path(recipe), method: :patch do |f| %>
        <%= f.label :Price %> <%= f.text_field :Price %>
        <%= f.submit 'Submit price' %>
        <% end %>
        <%= form_for :recipe do |f| %>
        <%= f.submit 'Sold!' %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="tab-content" id="dessert">
  <% if @recipes %>
    <% @recipes.where(category_id: 4).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
      <span class="forks"><%= recipe.avg_rating  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      <% if admin? %>
        <%= form_for :solddish, url: solddish_path(recipe), method: :patch do |f| %>
        <%= f.label :Price %> <%= f.text_field :Price %>
        <%= f.submit 'Submit price' %>
        <% end %>
        <%= form_for :sold do |f| %>
        <%= f.submit 'Sold!' %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
