<h1>Recipe Collection</h1>
<p>(Search bar)</p>

tab tab tab tab

<ul class="tabs">
  <li class="active"><a href="#main">Main dishes</a></li>
  <li><a href="#appetizer">Appetizers</a></li>
  <li><a href="#dessert">Desserts</a></li>
  <li><a href="#breakfast">Breakfast</a></li>
</ul>

<ul class="tab-content" id="main">
  <% if @recipes %>
    <% @recipes.where(category_id: 2).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
      <span class="forks"><%= recipe.ratings.length  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="tab-content" id="breakfast">
  <% if @recipes %>
    <% @recipes.where(category_id: 1).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
      <span class="forks"><%= recipe.ratings.length  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="tab-content" id="appetizer">
  <% if @recipes %>
    <% @recipes.where(category_id: 3).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
    <span class="forks"><%= recipe.ratings.length  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="tab-content" id="dessert">
  <% if @recipes %>
    <% @recipes.where(category_id: 4).each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %><br>
      <span class="forks"><%= recipe.ratings.length  %></span> forks || <%= link_to recipe.user.username, user_path(recipe.user) %>
      </li>
    <% end %>
  <% end %>
</ul>
