 <h1><%= @recipe.name %></h1>
<h2>Created by <%= @recipe.user.username %></h2>
<h2>Rating: <%= Rating.find_by(recipe_id: @recipe.id).rating/ @recipe.ratings.count %></h2>

<p><%= @recipe.description %></p>

<td>
 <% if can? :update, @recipe %>
   <%= link_to 'Edit', edit_recipe_path(@recipe) %>
 <% end %>
</td>

<td>
 <% if can? :destroy, @recipe %>
   <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %>
</td>






  <% if !@recipe.ratings.find_by(user_id: current_user.id) %>
    <%= form_for :vote do |f| %>
    <%= f.submit 'Vote!' %>
    <% end %>
  <% end %>



